@import "tailwindcss";

.curvy-bg {
  background: radial-gradient(
    circle at 75% 10%,
    #f6e4ff 40%,
    #f0f0f0 43%,
    #ffffff 75%
  );
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }
}
